/* General Layout */

html {
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #005415;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #87c287;
    margin: 0;
}

.site {
    background-color: #63d563;
    min-height: 100vh;
    min-width: 280px;
    max-width: 900px;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-auto-flow: column;
    grid-template-rows: auto auto auto auto;
    gap: 0;
    box-sizing: border-box;
}

/* Header */

header {
    grid-area: header;
    background-color: #177248;
    padding: 0.5em;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 10rem;
}

/* Navigation */

nav {
    grid-area: nav;
    background-color: #54966e;
    padding: 0.5em;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 0 .25em;
}

nav a {
    color: #f7fff9;
}

nav a:link {
    text-decoration: none;
    padding: .25em .5em;
    border-radius: 5px;
    background-color: #87c287;
}

nav a:visited {
    color: #e1ffe8;
    background-color: #487f5e;
}

nav a:hover {
    color: rgb(94, 99, 255);
    background-color: #d8ffe1;
    transition: background-color 0.2s ease;
}

nav a:active {
    color: #721817;
    background-color: rgb(94, 99, 255);
}

/* Main */

.promo {grid-area: promo;}

.info-1 {grid-area: info-1;}

.info-2 {grid-area: info-2;}

.info-3 {grid-area: info-3;}

main {
    grid-area: main;
    text-align: center;
    background-color: #d8ffe1;
    display: grid;
    grid-template-areas: 
        "promo"
        "info-1"
        "info-2"
        "info-3";
    grid-template-rows: auto auto auto auto;
    gap: 1em;
}

h1 {
    color: rgb(115, 24, 23);
    font-size: 1.5em;
}

h2 {
    color: #721817;
    font-size: 1.25em;
    margin: 1em auto 0;
}

h3 {
    color: rgb(115, 24, 23);
    font-size: .75em;
}

p {
    padding: 0 0.5em;
    text-align: justify;
}

.promo {
    background-color: #d8ffe1;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.promo img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    box-sizing: border-box;
}

.promo-msg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 1;
    background-color: rgba(41, 37, 87, 0.7);
    padding: 1em;
    border-radius: 10px;
    text-align: right;
    margin-left: 30%;
    position: relative;
    top: 0;
    right: 10%;
    box-sizing: border-box;
}

.promo h1, .promo h3, 
  .promo p {
    text-align: right;
    padding: 0;
    color: #f7fff9;
}

.promo p{
    display: none;
}

.promo div:hover {
    background-color: rgb(94, 99, 255);
    transition: background-color 0.2s ease;
}

.promo:hover p, 
  .promo div:hover p {
    display: block;
    transition: display 0.2s ease;
}

.promo:hover h3, 
  .promo div:hover h3 {
    display: none;
    transition: display 0.2s ease;
}


.info {
    display: block;
    background-color: #f7fff9;
    padding: 0 1em 1.5em;
    border-radius: 10px;
    border: 1px solid #487f5e;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
}

.info img {
    display: block;
    margin: .5em auto;
    max-height: 10em;
    border-radius: 10px;
    box-sizing: border-box;
}

.info:hover {
    scale: 1.02;
    transition: ease-in-out 0.2s;
}

.info-3 {
    margin-bottom: 5%;
}

/* Footer */

.footer-left {grid-area: footer-left;}

.footer-right {grid-area: footer-right;}

footer {
    grid-area: footer;
    background-color: #177248;
    display: grid;
    grid-template-areas: 
        "footer-right"
        "footer-left";
    grid-template-rows: auto auto;
    gap: 1em;
    align-items: center;
    justify-items: center;
    padding: 0.5em;
}

.footer-left img {
    display: block;
    height: 2.5rem;
}

/* Media Queries */

@media (min-width: 440px) {

    .site {
        margin: 0 auto;
        grid-template-rows: auto auto 1fr auto;
    }

    main {
        grid-template-areas:
            "promo promo promo"
            "info-1 info-2 info-3";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 1em;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .promo h1 {
        font-size: 2rem;
    }
    
    .promo-msg {
        margin-left: 30%;
        padding: 1em;
        position: relative;
        top: -10%;
        right: 1em;
    }

    .info {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
        min-width: 0;
    }

    .info img {
        max-width: 15em;
        width: 100%;
        object-fit: cover;
        object-position: center 10%;
    }

    .info p {
        margin: 0;
        padding: 0;
    }

    .info-1 {
        margin-left: 1em;
    }

    .info-3 {
        margin-right: 1em;
    }

    footer {
        grid-template-areas: 
            "footer-left footer-right";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .footer-left {
        justify-self: start;
        text-align: left;
        padding-left: 1em;
    }

    .footer-right {
        justify-self: end;
        padding-right: 1em;
    }

    .footer-right p {
        text-align: right;
        align-self: center;
    }
}